.container {
  text-align: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.images img {
  width: 150px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
}
